/*STYLE GERAL*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
 
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
 }

 body {
  background-color: hsl(36, 100%, 99%);
 }

 ul {
  list-style: none;
 }

 a {
  text-decoration: none;
 }

 img {
  display: block;
  width: 100%;
 }

 /*DEFININDO TAMANHO MÁXIMO DE DACA CONTAINER DE CONTEÚDO*/
 .container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
 }

 /*STYLE DO HEADER*/
 .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0 2rem 0;
 }

 /*DEFININDO WIDTH MÁXIMO DA LOGO*/
 .header > img {
  max-width: 50px;
 }

 /*DEFININDO O LAYOUT DO MENU COM DISPLAY FLEX*/
 .header .menu-nav ul {
  display: flex;
  gap: 2rem;
 }

 /*ESTILIZANDO CADA LINK DO MENU*/
 .header .menu-nav ul li a {
  font-weight: 400;
  color: hsl(240, 100%, 5%);
 }

 /*DEFININDO DISPLAY GRID PARA SECTION PAGE*/
.page {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr) 330px;
  grid-template-rows: 1fr 1fr;
  padding-bottom:2rem ;
}

/*DEFININDO A IMG DA SECTION PAGE-IMG E O GRID-COLUMN*/
 .page-img {
  height: 270px;
  grid-column: 1 / 3;
  background-image: url("./assets/images/image-web-3-desktop.jpg");
  background-position: center;
  background-size: cover;
 }

 /*DEFININDO LAYOUT DA PAGE-NEW*/
 .page-new {
  grid-column: 3 / 4;
  grid-row: 1 / -1;
  background-color: hsl(240, 100%, 5%);
  padding: 1.5rem 1rem;
  height: 500px;
 }

 /*ESTILIZANDO O H1*/
 .page-new > h1 {
  color: hsl(35, 77%, 62%);
  font-size: 2rem;
 }

 /*ESTILIZANDO O H2*/
 .page-new li h2 {
  font-size: 1.125rem;
  margin-top: 2rem;
  color:  hsl(36, 100%, 99%);
 }

 /*ESTILIZANDO O P E DEFININDO WIDTH MÁXIMO*/
 .page-new li p {
  line-height: 1.5;
  margin-top: .5rem;
  font-size: .875rem;
  color: hsl(233, 8%, 79%);
  max-width: 280px;
 }

 /*INSERINDO BORDAS EM BAIXO DOS DOIS PRIMEIROS LIs*/
 .page-new li:nth-of-type(1),
 .page-new li:nth-of-type(2) {
  border-bottom: 1px solid hsl(236, 13%, 42%);
  padding-bottom: 2.5rem;
 }

 /*ESTILIZANDO A PAGE-FUTURE-WEB*/
 .page-future-web h1 {
  font-size: 4rem;
  color: hsl(240, 100%, 5%);
  max-width: 350px;
  width: 100%;
 }

/*ESTILIZANDO O P DO PAGE-READ-MORE*/
 .page-read-more p {
  color: hsl(236, 13%, 42%);
  max-width: 370px;
  margin-top: .5rem;
  line-height: 1.5;
 }

 /*ESTILIZANDO O LINK DA PAGE-READ-MORE*/
 .page-read-more a {
  color: hsl(36, 100%, 99%);
  background-color: hsl(5, 85%, 63%);
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  display: block;
  max-width: 200px;
  text-align: center;
  font-weight: 600;
  font-size: .875rem;
  letter-spacing: 3px;
  margin-top: 3rem;
 }

 /*DEFININDO LAYOUT DOS ELEMENTOS*/
 .others {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
 }

 .others li {
  display: flex;
  gap: 1rem;
 }

 /*DEFININDO LARGURA MÁXIMA DA IMG*/
 .others li > img {
  max-width: 100px;
 }

 /*ESTILIZAÇÃO DO H1*/
 .others .others-text h1 {
  color: hsl(233, 8%, 79%);
  font-weight: 700;
 }

 /*ESTILIZAÇÃO DO H2*/
 .others .others-text h2 {
  color: hsl(240, 100%, 5%);
  font-size: 1.125rem;
  margin-top: .7rem;
 }

 /*ESTILIZAÇÃO DO P*/
 .others .others-text p {
  color: hsl(236, 13%, 42%);
  font-size: .875rem;
  line-height: 1.5;
  max-width: 210px;
  margin-top: .5rem;
 }

 @media (max-width:1200px) {
  .page-future-web h1 {
    font-size: 3rem;
  }

  .page-read-more a {
    margin-top: 1.7rem;
  }

  .page-new {
    height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
 }

 /*ESTILIZAÇÃO MOBILE*/
 @media (max-width:876px) {
  .page {
    grid-template-columns: 1fr;
  }

  .page-img {
    background-image: url("./assets/images/image-web-3-mobile.jpg");
    grid-column: 1 / 4;
    grid-row: 1;
  }

  .page-new {
    grid-row: 4;
    grid-column: 1 / 4;
    width: 90%;
    max-width: 400px;
  }

  .page-future-web {
    grid-row: 2;
    grid-column: 1/ 4;
  }

  .page-read-more {
    grid-row: 3;
    margin-top: -7.5rem;
    margin-bottom: 1.5rem;
  }

  .others {
    margin-top: 1.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
 }